body {
    margin: 0px;
    background: rgba(76, 185, 137, 1);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: white;
    box-sizing: border-box;
}

header {
    display: grid;
    align-items: center;
    padding: 1em;
    font-size: 2em;
    margin: 0px;
    background: rgb(34, 106, 106);
    background: linear-gradient( 0deg, rgba(76, 185, 137, 1) 0%, rgba(34, 106, 106, 1) 100%);
}

header a {
    color: white;
}

.title1 {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}

.title2 {
    grid-column: 2 / -1;
    grid-row: 1/1;
    justify-self: right;
}

.title-logo {
    height: 2em;
}

/*
 * The main grid! so exciting
 */

#main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "phrase terms" "txt    tree";
}

#main div {
    background: rgba(28, 38, 58, 1);
    padding: 0.2em;
}

#main .mg-phrase {
    grid-area: phrase;
}

#main .mg-terms {
    grid-area: terms;
}

.codemirror {
    min-height: 5em;
    width: 100%;
    border: solid red 4px;
    box-sizing: border-box;
    /* for some reason it doesn't get box-sizing from the body style, it's grayed out in chrome */
}

.CodeMirror pre {
    color: white;
}